name: CI/CD - AutoOps Web App

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write   # REQUIRED for OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Configure AWS credentials via OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::605134452604:role/github-actions-autoops-role
        aws-region: us-east-1

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push Docker Image
      run: |
        docker build -t autoops-web app/
        docker tag autoops-web:latest 605134452604.dkr.ecr.us-east-1.amazonaws.com/autoops-web:latest
        docker push 605134452604.dkr.ecr.us-east-1.amazonaws.com/autoops-web:latest
