- name: Inject failure via App Runner env
  run: |
    SERVICE_NAME="autoops-web-app"

    SERVICE_ARN=$(aws apprunner list-services \
      --query "ServiceSummaryList[?ServiceName=='${SERVICE_NAME}'].ServiceArn" \
      --output text)

    aws apprunner update-service \
      --service-arn "$SERVICE_ARN" \
      --source-configuration '{
        "ImageRepository": {
          "ImageIdentifier": "605134452604.dkr.ecr.us-east-1.amazonaws.com/autoops-web:latest",
          "ImageRepositoryType": "ECR"
        },
        "AutoDeploymentsEnabled": true,
        "AuthenticationConfiguration": {
          "AccessRoleArn": "arn:aws:iam::605134452604:role/autoops-apprunner-role"
        }
      }' \
      --instance-configuration '{
        "EnvironmentVariables": {
          "FAIL_MODE": "true"
        }
      }'
