name: Deploy Failing Version (Test Incident)

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-failure:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::605134452604:role/github-actions-autoops-role
        aws-region: us-east-1

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build BAD image
      run: |
        docker build -t autoops-web:bad \
          --build-arg FAIL_MODE=true \
          -f app/Dockerfile .

    - name: Push BAD image as latest
      run: |
        ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
        ECR="${ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/autoops-web"

        docker tag autoops-web:bad ${ECR}:latest
        docker push ${ECR}:latest
