name: Rollback AutoOps Service

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  rollback:
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::605134452604:role/github-actions-autoops-role
        aws-region: us-east-1

    - name: Disable FAIL_MODE (Rollback)
      run: |
        SERVICE_NAME="autoops-web-app"

        SERVICE_ARN=$(aws apprunner list-services \
          --query "ServiceSummaryList[?ServiceName=='${SERVICE_NAME}'].ServiceArn" \
          --output text)

        aws apprunner update-service \
          --service-arn "$SERVICE_ARN" \
          --source-configuration '{
            "ImageRepository": {
              "ImageIdentifier": "605134452604.dkr.ecr.us-east-1.amazonaws.com/autoops-web:latest",
              "ImageRepositoryType": "ECR",
              "ImageConfiguration": {
                "Port": "8080",
                "RuntimeEnvironmentVariables": {
                  "FAIL_MODE": "false"
                }
              }
            },
            "AutoDeploymentsEnabled": true
          }'
